---
Checks: >
  -*,
  bugprone-*,
  -bugprone-exception-escape,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*
WarningsAsErrors: ""
HeaderFilterRegex: ".*"
FormatStyle: file
