---
Checks: >
  -*,
  bugprone-*,
  -bugprone-exception-escape,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*
WarningsAsErrors: "bugprone-*,cppcoreguidelines-*,cert-*"
HeaderFilterRegex: "^src/.*"
FormatStyle: file
